.error{
    color: red;
}

.polo_button{
    font-size: 35px;
    align-content: center;
}

.menu_principal_button{
    font-size: 35px;
    align-content: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.element{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.formulaire{
    font-size: 25px;
}

.formulaire_button{
    font-size: 20px;
    margin: 5px;
}

.menu_principal{
    align-content: center;
}