.error{
    color: red;
}

.polo_button{
    font-size: 35px;
    align-content: center;
}

.menu_principal_button{
    font-size: 35px;
    align-content: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.element{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.formulaire{
    font-size: 25px;
}

.formulaire_button{
    font-size: 20px;
    margin: 5px;
}

.menu_principal{
    align-content: center;
}

#overlay {
    display:none;
    position:absolute;
    top:0;
    background:#999;
    width:100%;
    height:100%;
    opacity:0.8;
    z-index:100;
}
#popup {
    display:none;
    position:absolute;
    top:50%;
    left:50%;

    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}
#popupclose{
    float:right;
    padding:10px;
    cursor:pointer;
}
.popupcontent{
    padding:20px;
}